@use '../abstracts/index' as *;

body {
    font-family: "Arimo", sans-serif;
    line-height: 1.3;
    background-color: var(--c-neutral-825);
}

a {
    color: var(--c-white);
    transition: var(--link-color-transition-1);
}

a:hover {
    color: var(--c-primary);
}

blockquote {
    padding-left: 20px;
    border-left: 2px solid var(--c-primary);
    margin-top: 35px;
    max-width: 500px;

    & > * {
        font-weight: 400 !important;
        font-size: 18px !important;

        @include respond-to(sm) {
            font-size: 20px !important;
        }
    }
}

section {
    position: relative;
    z-index: 1;
}