/* Arimo variable font */
@font-face {
  font-family: 'Arimo';
  src: url('../fonts/Arimo-VariableFont_wght.woff2') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Arima variable font */
@font-face {
  font-family: 'Arima';
  src: url('../fonts/Arima-VariableFont_wght.woff2') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}