@use '../abstracts/index' as *;

// CF7
.wpcf7-form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .wpcf7-submit {
        width: max-content;
    }

    .wpcf7-submit:hover {
        background-color: var(--c-white);
        color: var(--c-primary);
        cursor: pointer;
    }

    .wpcf7-not-valid-tip {
        color: var(--c-alert);
    }

    .wpcf7-spinner {
        display: none;
    }
}

.wpcf7-form-control {

    background-color: transparent;
    border: 1px solid var(--c-neutral-800);
    height: 60px;
    width: 100%;
    padding-left: 20px;
    font-size: var(--fs-8);
    color: var(--c-neutral-400);

    &:focus {
        border: 1px solid var(--c-primary);
    }

    &:focus-visible {
        outline: 1px solid var(--c-primary);
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-background-clip: text;
        -webkit-text-fill-color: var(--c-neutral-400);
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 20px 20px #23232329;
    }

    &.wpcf7-textarea {
        padding-top: 18px;
        height: unset;
    }

}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.sent .wpcf7-response-output {
    color: var(--c-white);
    padding: 10px;
    margin: 0;
}

.wpcf7 form.sent .wpcf7-response-output {
    border-color: var(--c-primary);
}

// Amelia
.amelia-v2-booking .am-lite-footer {
    display: none;
}

.am-fs-sb {
    p {
        color: var(--c-white);
    }
}

.amelia-v2-booking #amelia-container .am-fs-sb__step-checker .am-icon-check {
    background-color: var(--c-greenish-100) !important;
}

.am-adv-select__popper *,
.amelia-v2-booking #amelia-container.am-fs__wrapper *,
#amelia-app-backend-new #amelia-container * {
    font-family: var(--font-secondary) !important;
}

.amelia-v2-booking #amelia-container.am-fs__wrapper [class^=am-icon-], 
.amelia-v2-booking #amelia-container.am-fs__wrapper [class*=" am-icon-"] {
    font-family: amelia-icons !important;
}

#amelia-v2-booking-1000.amelia-v2-booking #amelia-container .am-fs__main-footer .am-button {
    border-radius: 0;
    text-transform: uppercase;
    font-family: var(--font-main) !important;
}

.amelia-v2-booking #amelia-container .am-fs__main-footer .am-button .am-button__inner {
    font-family: var(--font-main) !important;
    font-weight: 700;
}

#amelia-container > div.am-fs-sb > div.am-fs-sb__step-wrapper > div > div > div > div:nth-child(2) {
    display: none;
}