@use '../abstracts/index' as *;

.screen-reader-text {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.container {
    max-width: 1320px;
    width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;

    @include respond-to(sm) {
        width: calc(100% - 100px);
    }

    &--header {
        max-width: 1600px;
    }
}

.section__subtitle {
    display: block;
    color: var(--c-primary);
    font-size: var(--fs-7);
    font-weight: 600;
    margin-bottom: 1.5rem;
    letter-spacing: 0.01em;
}