@use '../abstracts/index' as *;

.subpage-hero {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    padding: 100px 0;

    &:after {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 100%;
        height: 100%;
        z-index: -1;
        background: var(--c-neutral-900);
        opacity: 0.8;
    }

    &.no-image-bg:after {
        opacity: 1;
        background: var(--c-neutral-825);
    }

    @include respond-to(sm) {
        padding: 175px 0;
    }

    &__title {
        color: var(--c-white);
        font-weight: 600;
        margin-bottom: 10px;
        font-size: var(--fs-h2-md);

        @include respond-to(sm) {
            font-size: var(--fs-h1);
        }
    }

    &__breadcrumbs {
        color: var(--c-primary);
        font-size: var(--fs-7);
        font-family: var(--font-main);
        font-weight: 600;

        .breadcrumbs-separator,
        a {
            color: var(--c-white);
        }

        .breadcrumbs-separator {
            margin: 0 2px 0 3px;
        }
    }
}