@use '../abstracts/index' as *;
@use '../abstracts/animations' as *;

.slideout,
.slideout-backdrop {
	display: none;
}

@include respond-to(lg) {
	.slideout {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		width: 460px;
		max-width: 100vw;
		background: var(--c-white);
		box-shadow: -2px 0 16px rgba(0, 0, 0, 0.08);
		transform: translateX(100%);
		transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
		z-index: 10;
		padding: 40px;
		overflow-y: auto;
		scrollbar-width: thin;
	}

	.slideout__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;

		&__logo {
			display: flex;
			align-items: center;
			gap: 0.5rem;

			img {
				width: 40px;
				height: 40px;
			}

			span {
				font-size: var(--fs-3);
				font-weight: 600;
			}
		}

		&__close {
			background: var(--c-primary);
			border: none;
			border-radius: 50%;
			width: 36px;
			height: 36px;
			font-size: 2rem;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: transform 300ms ease-out;

			&:hover {
				transform: rotate(90deg);
			}
		}

	}

	.slideout__content {
		.description {
			font-size: var(--fs-8);
			line-height: 1.6;
			margin-bottom: 40px;
		}

		.image-container {
			width: 100%;
			margin-bottom: 40px;

			img {
				width: 100%;
				border-radius: 2px;
				display: block;
			}
		}

		.contact-info {
			margin-bottom: 2rem;

			h2 {
				font-size: var(--fs-4);
				font-family: var(--font-secondary);
				font-weight: 600;
				margin-bottom: 1.5rem;
			}

			.contact-item {
				display: flex;
				align-items: flex-start;
				gap: 20px;
				margin-bottom: 1.5rem;

				.label {
					font-size: var(--fs-9);
					color: var(--c-neutral-800);
					font-weight: 500;
				}

				.value {
					font-size: 1.1rem;
					font-weight: 700;
					color: #222;
				}

				&:before {
					content: "";
					display: block;
					background-repeat: no-repeat;
					width: 30px;
					height: 30px;
				}

				&--phone:before {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' stroke='%23a7cd0e' stroke-width='2.4' viewBox='0 0 48 48'%3E%3Cpath d='M19.308 12.467a24.095 24.095 0 0 1-.881-4.384C18.27 6.602 16.977 5.5 15.488 5.5H8.58c-1.777 0-3.145 1.535-2.989 3.304 1.575 17.829 15.777 32.03 33.606 33.606 1.77.156 3.304-1.207 3.304-2.984v-6.16c0-2.248-1.102-3.536-2.583-3.693a24.095 24.095 0 0 1-4.384-.88 4.903 4.903 0 0 0-4.87 1.243l-2.957 2.957a31.27 31.27 0 0 1-12.599-12.599l2.957-2.957a4.903 4.903 0 0 0 1.244-4.87Z' style='fill:none;stroke:%23a7cd0e;stroke-linecap:round;stroke-linejoin:round'/%3E%3C/svg%3E");
				}
					
				&--email:before {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='30' height='30' fill='%23a7cd0e' viewBox='0 0 512 512'%3E%3Cpath d='M510.746 110.361c-2.128-10.754-6.926-20.918-13.926-29.463-1.422-1.794-2.909-3.39-4.535-5.009-12.454-12.52-29.778-19.701-47.531-19.701H67.244c-17.951 0-34.834 7-47.539 19.708-1.608 1.604-3.099 3.216-4.575 5.067-6.97 8.509-11.747 18.659-13.824 29.428A64.963 64.963 0 0 0 0 123.435v265.137c0 9.224 1.874 18.206 5.589 26.745 3.215 7.583 8.093 14.772 14.112 20.788a75.763 75.763 0 0 0 4.63 4.258c12.034 9.966 27.272 15.45 42.913 15.45h377.51c15.742 0 30.965-5.505 42.967-15.56a58.23 58.23 0 0 0 4.578-4.148c5.818-5.812 10.442-12.49 13.766-19.854l.438-1.05c3.646-8.377 5.497-17.33 5.497-26.628V123.435c0-4.375-.422-8.786-1.254-13.074zM34.823 99.104c.951-1.392 2.165-2.821 3.714-4.382 7.689-7.685 17.886-11.914 28.706-11.914h377.51c10.915 0 21.115 4.236 28.719 11.929a40.528 40.528 0 0 1 3.661 4.272l2.887 3.88-201.5 175.616c-6.212 5.446-14.21 8.443-22.523 8.443-8.231 0-16.222-2.99-22.508-8.436L32.19 102.939l2.633-3.835zm-8.068 291.809c-.109-.722-.134-1.524-.134-2.341V128.925l156.37 136.411L28.199 400.297l-1.444-9.384zm438.144 32.927c-6.052 3.492-13.022 5.344-20.145 5.344H67.244c-7.127 0-14.094-1.852-20.142-5.344l-6.328-3.668L200.71 280.793l17.528 15.246c10.514 9.128 23.922 14.16 37.761 14.16 13.89 0 27.32-5.032 37.827-14.16l17.521-15.253L471.228 420.18l-6.329 3.66zm20.473-35.268c0 .803-.015 1.597-.116 2.304l-1.386 9.472-154.858-134.939 156.36-136.418v259.581z' style='fill:%23a7cd0e'/%3E%3C/svg%3E");
				}

				&--address:before {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='%23a7cd0e' stroke='%23a7cd0e' stroke-width='20.48' viewBox='-20.48 -20.48 1064.96 1064.96'%3E%3Cpath d='M232.426 502.063c-24.731-45.349-37.866-96.226-37.866-149.058 0-172.336 139.835-312.044 312.34-312.044s312.34 139.708 312.34 312.044c0 49.997-11.769 98.27-34.033 141.795-5.151 10.07-1.163 22.409 8.907 27.56s22.409 1.163 27.56-8.907c25.201-49.266 38.527-103.927 38.527-160.448 0-194.966-158.182-353.004-353.3-353.004s-353.3 158.038-353.3 353.004c0 59.727 14.875 117.341 42.866 168.669 5.415 9.93 17.855 13.59 27.785 8.175s13.59-17.855 8.175-27.785z'/%3E%3Cpath d='M228.232 494.805c-5.627-9.812-18.143-13.204-27.955-7.577s-13.204 18.143-7.577 27.955l281.119 490.158c16.279 28.374 49.819 28.374 66.096.003l278.796-486.116c5.627-9.812 2.235-22.327-7.577-27.954s-22.327-2.235-27.954 7.577L506.868 980.636l-278.636-485.83z'/%3E%3Cpath d='M611.406 352.229c0-57.651-46.788-104.397-104.509-104.397-57.719 0-104.499 46.743-104.499 104.397s46.78 104.397 104.499 104.397c57.721 0 104.509-46.746 104.509-104.397zm40.96 0c0 80.281-65.135 145.357-145.469 145.357-80.333 0-145.459-65.074-145.459-145.357s65.126-145.357 145.459-145.357c80.335 0 145.469 65.076 145.469 145.357z'/%3E%3C/svg%3E");
				}
			}
		}

		.socials {
			display: flex;
			gap: 15px;

			a {
				display: inline-block;
				width: 35px;
				height: 35px;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid var(--c-primary);
				transition: all var(--deffault-transition);

				.icon {
					width: 24px;
					height: 24px;
					background-size: contain;
					background-repeat: no-repeat;
					fill: var(--c-primary);
					transition: all var(--deffault-transition);

					& > * {
						transition: all var(--deffault-transition);
						fill: var(--c-primary);
					}
				}

				&:hover {
					background-color: var(--c-primary);

					.icon {
						fill: var(--c-white);

						& > * {
							fill: var(--c-white);
						}
					}
				}
			}
		}
	}

	.slideout-backdrop {
		display: block;
		position: fixed;
		inset: 0;
		background: rgba(0, 0, 0, 0.5);
		z-index: 9;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s;
	}
}