@use '../abstracts/index' as *;

.working-hours {
    background-image: url(../img/brijac-pozadina.png);
    background-repeat: no-repeat;
    background-position: bottom right;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 50px;

        @include respond-to(lg) {
            flex-direction: row;
        }

        @include respond-to(xl) {
            gap: 25px;
        }
    }
    

    &__title {
        margin-bottom: 25px;
    }

    &__content {

        @include respond-to(lg) {
            flex-basis: 50%;
        }
    }

    &__images {

        @include respond-to(lg) {
            display: flex;
            align-items: center;
            flex-basis: 50%;
        }
    }

    &__description {
        margin-bottom: 35px;
        max-width: 630px;
    }

    &__list {
        margin-bottom: 50px;
        max-width: 530px;

        &__item {
            display: flex;
            justify-content: space-between;

            font-size: var(--fs-7);
            font-family: var(--font-main);
            line-height: 1.7;
            border-bottom: 1px dashed var(--c-white);
            padding-bottom: 15px;
            margin-bottom: 15px;
        }
    }
}