@use '../abstracts/index' as *;

.testimonials {
    background-color: var(--c-neutral-825);
    background-repeat: no-repeat;
    background-position: bottom right;

    &__content {
        flex-basis: 33.33%;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include respond-to(xl) {
            flex-direction: row;
        }
    }

    &__title {
        margin-bottom: 25px;
    }

    &__description {
        font-size: var(--fs-6);
        color: var(--c-neutral-400) !important;
    }

    &__list {
        display: flex;
        gap: 30px;
        flex-direction: column;
        flex-basis: 66.66%;

        @include respond-to(md) {
            gap: 24px;
            flex-direction: row;
            flex-wrap: wrap;
        }

        @include respond-to(xl) {
            align-items: flex-start;
        }

    }

    &__item {
        background: var(--c-neutral-900) url(../img/utisak.png) no-repeat center;
        padding: 40px 30px;
        text-align: center;

        @include respond-to(md) {
            padding: 40px;
            flex-basis: calc(50% - 24px);
        }

        @include respond-to(xl) {
            
            &:nth-child(odd) {
                margin-top: -70px;
            }
        }

        &__img {
            border-radius: 50%;
            display: inline-block;
            overflow: hidden;
            max-width: 100px;
            margin-bottom: 30px;
        }

        &__description {
            font-size: var(--fs-7);
            margin-bottom: 20px;
            color: var(--c-neutral-400) !important;

            @include respond-to(md) {
                font-size: var(--fs-7);
            }
        }
    }
}