@use '../abstracts/index' as *;

.hero {
    background: #f7f7f7;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @include respond-to(lg) {
        padding: 140px 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 40px 0;
        gap: 30px;
        
        position: relative;

        @include respond-to(lg) {
            align-items: center;
            flex-direction: row;
        }
    }

    &__content {

        @include respond-to(lg) {
            z-index: 2;
        }
    }

    &__title {
        font-size: var(--fs-2);
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__desc {
        font-size: var(--fs-6);
        color: var(--c-neutral-800);
        margin-bottom: 50px;
    }
}