@use '../abstracts/index' as *;

.gallery {
    background-color: var(--c-neutral-825);
    background-image: url(../img/line-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        
        @include respond-to(xl) {
            flex-wrap: nowrap;
        } 
    }

    &__item {
        flex: 1;
        position: relative;
        overflow: hidden;  
        flex-basis: calc(50% - 10px);

        @include respond-to(md) {
            flex-basis: calc(33.33% - 20px);
        }

        img {
            display: block;
            aspect-ratio: 2 / 3;
            object-fit: cover;
            width: 100%;
        }

    }
}