@use '../abstracts/index' as *;

.testimonials {
    background-color: var(--c-neutral-50);
    background-image: url(../img/makaze-pozadina.png);
    background-repeat: no-repeat;
    background-position: bottom right;

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include respond-to(xl) {
            flex-direction: row;
        }
    }

    &__title {
        margin-bottom: 25px;
    }

    &__description {
        font-size: var(--fs-6);
    }

    &__list {
        display: flex;
        gap: 30px;
        flex-direction: column;

        @include respond-to(md) {
            gap: 24px;
            flex-direction: row;
        }

        @include respond-to(lg) {
            // flex-direction: row;
        }
    }

    &__item {
        background: var(--c-white) url(../img/utisak.png) no-repeat center;
        padding: 40px 30px;
        text-align: center;

        @include respond-to(md) {
            padding: 50px 40px;
            flex-basis: calc(50% - 24px);
        }

        &__img {
            border-radius: 50%;
            display: inline-block;
            overflow: hidden;
            max-width: 100px;
            margin-bottom: 30px;
        }

        &__description {
            font-size: var(--fs-7);
            margin-bottom: 35px;

            @include respond-to(md) {
                font-size: var(--fs-6);
            }
        }
    }
}