:root {
    /* Font families */
    --font-main: 'Arima', system-ui, sans-serif;
    --font-secondary: 'Arimo', system-ui, sans-serif;

    /* Font sizes */
    --fs-1: calc(80 / 16 * 1rem);
    --fs-2: calc(44 / 16 * 1rem);
    --fs-3: calc(28 / 16 * 1rem);
    --fs-4: calc(24 / 16 * 1rem);
    --fs-5: calc(22 / 16 * 1rem);
    --fs-6: calc(20 / 16 * 1rem);
    --fs-7: calc(18 / 16 * 1rem);
    --fs-8: calc(16 / 16 * 1rem);
    --fs-9: calc(14 / 16 * 1rem);
    --fs-10: calc(12 / 16 * 1rem);
    --fs-h1: var(--fs-1);
    --fs-h2: var(--fs-2);

    /* Colors */ 
    --c-white: hsl(0, 0%, 100%);
    --c-green: hsl(72, 87%, 43%);
    --c-yellowish-900 : hsl(40, 48%, 48%);
    --c-yellowish-100: hsl(44, 41%, 95%);
    --c-neutral-1000: hsl(0, 0%, 0%);
    --c-neutral-900: hsl(180, 9%, 6%);
    --c-neutral-850: hsla(240, 100%, 0%, 0.102);
    --c-neutral-800: hsl(240, 1%, 20%);
    --c-neutral-600: hsl(240, 0%, 40%);
    --c-neutral-400: hsl(0, 0%, 60%);
    --c-neutral-300: hsl(0, 0%, 80%);
    --c-neutral-200: hsla(240, 100%, 0%, 0.102);
    --c-neutral-0: hsl(0, 0%, 100%);
    --c-primary: var(--c-green);

    --c-top-header: var(--c-primary);

    /* Transitions */
    --deffault-transition: 300ms ease-out;
    --main-menu-transition: 500ms;
    --hamburger-transition-duration: 200ms;
    --link-color-transition-1: color 300ms ease-out;

    /* Box Shadow */
    --box-shadow-3: 0 7px 50px rgba(0, 0, 0, 0.07);
    --box-shadow-4: 0px 10px 50px rgba(0, 0, 0, 0.05);
}